.cardContainer {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: sticky;
  top: 0px;
  /* padding-top: 5vh; */
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 90vw;
  max-width: 1230px;
  border-radius: 25px;
  padding: 30px;
  transform-origin: center;
  color: white;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .card {
    height: 450px;
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .card {
    height: 600px;
    padding: 16px;
  }
}

.card h2 {
  text-align: left;
  margin: 0px;
  font-family: 'Clash Display Semibold';
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}

@media (min-width: 768px) {
  .body {
    flex-direction: row-reverse;
    gap: 50px;
  }
}

.description {
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .description {
    width: 40%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
}

.description p {
  font-size: 16px;
  color: #E5E7EB;
  line-height: 1.75;
}

.roleContainer {
  margin-top: 20px;
}

.role {
  color: #9CA3AF;
  font-size: 14px;
  margin-bottom: 10px;
}

.logo {
  position: relative;
  height: 32px;
  width: 125px;
}

.imageContainer {
  position: relative;
  width: 100%;
  min-height: 300px;
  border-radius: 25px;
  overflow: hidden;
}

@media (min-width: 321px) and (max-width: 767px) {
  /* .card-image,
  .imageContainer {
    min-height: 250px;
    height: 250px;
  } */
}

@media (min-width: 768px) {
  .imageContainer {
    width: 60%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .body {
    flex-direction: column-reverse;
  }
}


.inner {
  width: 100%;
  height: 100%;
}
